* {
    box-sizing: border-box;
}

body {
    /* margin-left: 20%; */
    background-color: rgb(231, 231, 231);
    max-width: 800px;
    margin: auto;
}

canvas {
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    border: 1px solid black;
    /* border-radius: 20px; */
    /* justify-content: center; */
} 

h2 {
    margin-left: 1rem;
}

.container {
    display: flex;
}

.debug{
    
    display: block;
    background-color: rgb(102, 147, 233);
    margin-left: 1rem;
    font-size: 1.3rem;
}

.guesses {
    background-color: rgb(226, 159, 147);
}